@font-face{
    font-family: 'Specimen';
    src:url('fonts/Satisfy/Satisfy-Regular.ttf')
}
.logotipo{
    font-family: 'Specimen';    
}
.top-image{
    width: 100%;
}
.icon{
    width: 2rem;
}
.visible{
    display: block;
}
.invisible{
    display: none;
}
.red-btn{
    color: black;
    border: black;
    border-style: solid;
    border-width: thin;
    background-color: lightcoral;
}
.soft-btn{
    color: black;
    border: black;
    border-style: solid;
    border-width: thin;
    background-color: cornsilk;
}